# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

dmphotochecker-firebase-adminsdk-dlbjz-fa38db7903.json

.runtimeconfig.json
